<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
                <style>
                        body, html {
                        height: 100%;
                        margin: 0;
                      }
                </style>
		</head>
		<body style = "background: url(/res/0e6e35fad2817b33b6d48d5ee3a6599d.jpg); background-size: 100% 100%; background-position: center; background-repeat: no-repeat">
			<nav>
	    		<ul>  
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blogs</a></li>
                                <li><a href="/comment">Comments</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:meizhellboy@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/HellBoy-OP">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
