<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body style = "background: url(https://raw.githubusercontent.com/HellBoy-OP/HellBoy-OP.github.io/master/res/20210309_050715.jpg); background-size: 100% 100%; background-position: center; background-repeat: no-repeat">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:meizhellboy@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/HellBoy-OP">github.com/HellBoy-OP</a></li>
				</ul>
			</footer>
		</body>
	</html>
